@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 2.5vmin;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
    cursor: pointer;
}
#Resate_Game{
    padding: 1rem;
    font-size: 1.25rem;
    background: #191913;
    color: #fff;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    justify-content: center;
    align-items:center;
}
.mas-container h1{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: white;
}

.mas-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;

}
#wing{
    font-size: 5vmin;
    color:#ffffc7 ;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
#ply-agn{
    padding: 1rem;
    font-size: 1.25rem;
    background: #191913;
    color: #fff;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}
#header{
    justify-content: center;
    align-items: center;
}
.display{
    display: none;
}













